@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-medical-gradient {
  background: radial-gradient(circle at top right, #11294D, #0A192F);
}
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
